{% extends 'layout.html' %}

{% block body %}
<main role="main" class="col-md-12 col-lg-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard <small>Welcome {{session.username}}</small></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
            </div>
        </div>
    </div>
    <h4>Select an user</h4>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>#</th>
                    <th>User_ID</th>
                    <th>Username</th>
                    <th>Firstname</th>
                    <th>Last use</th>
                </tr>
            </thead>
            <tbody>
                {% for register in registers %}
                <tr>
                    <td>{{ register[0] }}</td>
                    <td><a href="{{ url_for('user_registers', user_id=register[1]) }}">{{ register[1] }}</a></td>
                    <td>{{ register[3] }}</td>
                    <td>{{ register[2] }}</td>
                    <td>{{ register[4] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}