{% extends 'layout.html' %}

{% block body %}
<main role="main" class="col-md-12 col-lg-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard <small>Welcome {{session.username}}</small></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
            </div>
        </div>
    </div>
    <h4>{{ user_id }}</h4>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Firstname</th>
                    <th>Chat_ID</th>
                    <th>Chat Title</th>
                    <th>Chat Type</th>
                    <th>Search</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for register in registers %}
                <tr>
                    <td>{{ register[0] }}</td>
                    <td>{{ register[1] }}</a></td>
                    <td>{{ register[2] }}</td>
                    <td>{{ register[3] }}</td>
                    <td>{{ register[4] }}</td>
                    <td>{{ register[5] }}</td>
                    <td>{{ register[6] }}</td>
                    <td>{{ register[7] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a class="btn btn-primary mb-3" href="{{ url_for('dashboard') }}">Back</a>
</main>
{% endblock %}